<section>
    <div class="row justify-content-end">
      <label class="switch col-xs-2 col-xs-offset-10">
        <input type="checkbox" [checked]="visaoCarta" (click)="toggleVisaoCarta()">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="row">
        <div class="col-md-4">
          <table class="table table-hover">
            <tr>
              <th>Jogador</th>
              <th>Cor</th>
              <th>Vidas</th>
            </tr>
            <tr *ngFor="let jogador of jogadoresJogo | async; let i = index;" [attr.data-index]="i" [ngClass]="{'fora': !jogador.jogando || jogador.removido}">
              <td>{{jogador.nome}}</td>
              <td>{{jogador.cor}}</td>
              <td>{{jogador.vidas}}</td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
            <table class="table table-hover"  *ngIf="rodada">
              <tr>
                <th>Ordem</th>
                <th>Jogador</th>
                <th>Cor</th>
                <th>Palpite</th>
                <th>Fez</th>
              </tr>
              <tr *ngFor="let jogador of jogadores | async; let i = index;" [attr.data-index]="i" [ngClass]="{'comeca': jogador.id == rodada.comeca, 'vez': jogador.id == rodada.vez}">
                <td>{{jogador.id}}</td>
                <td>{{jogador.nome}}</td>
                <td>{{jogador.cor}}</td>
                <td>{{jogador.palpite}}</td>
                <td>{{jogador.fez}}</td>
              </tr>
            </table>
          </div>
      </div>

  <div class="row" *ngIf="jogo">
    <div class="col-md-6">
      <p>Jogo: {{jogo.nome}}</p>
      <p>Rodada: {{jogo.rodada + 1}}</p>
      <div class="col-cs-6"> 
        <div class="col-xs-2" *ngIf="rodada && rodada.manilha"> 
          <p>Vira:</p>
          <p class="carta">{{rodada.manilha.img}}</p>
        </div>
        <div class="col-xs-2" *ngIf="jogada && jogada.maiorCarta && etapaJogarCarta(rodada.etapa)" > 
          <p>Maior:</p>
          <p class="carta">{{jogada.maiorCartaObj.img}}</p>
        </div>
      </div>
    </div>

    <div class=col-md-6 *ngIf="jogadorJogando">
      <h3>Cartas</h3>
      <div class="row">
        <div *ngFor="let cartaJogador of jogadorJogando.cartas; let i = index;">
          <div *ngIf="!(jogadorJogando.id == rodada.vez && etapaJogarCarta(rodada.etapa))" class="carta col-xs-2">{{cartaJogador.img}}</div>
          <button *ngIf="jogadorJogando.id == rodada.vez && etapaJogarCarta(rodada.etapa)" class="carta col-xs-2" (click)="jogarCarta(i)">
            {{cartaJogador.img}}
          </button>
        </div>
      </div>
      <button *ngIf="jogadorJogando.id == rodada.vez && etapaEmbaralhar(rodada.etapa)" class="btn btn-success" (click)="comecar()">
        Comecar
      </button>
      <div *ngIf="jogadorJogando.id == rodada.vez && etapaPalpite(rodada.etapa)">
        Palpite
        <div class="btn btn-success" (click)="palpite(0)">
          0
        </div>
        <div *ngFor="let cartaJogador of jogadorJogando.cartas; let i = index;" class="btn btn-success" (click)="palpite(i+1)">
          {{i+1}}
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="jogadorJogando && !jogoFinalizado()" class="row">
  <div class="col-md-6">
    <table class="table table-hover" *ngIf="jogadas">
      <tr>
        <th>Jogador</th>
        <th>Carta</th>
      </tr>
      <tr *ngFor="let jogadaItem of jogadas">
        <td>{{jogadaItem.jogador}}</td>
        <td>{{jogadaItem.carta}} {{jogadaItem.naipe}}</td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="jogoFinalizado()">
  <h1 *ngIf="jogo.vencedor">Jogador Ganhador: {{jogo.vencedor}}</h1>
  <h1 *ngIf="!jogo.vencedor">O Jogo não teve um vencedor :(</h1>
</div>


<style>
.comeca {
  color: red;
}
.vez {
  font-weight: bold;
}
.fora {
  text-decoration-line: line-through;
}
.carta {
  font-size:100px; 
  margin:0; 
  line-height: 1;
}
</style>