<section>
    <div class="row">
        <div class="col-md-4">
          <table class="table table-hover">
            <tr>
              <th>Jogador</th>
              <th>Cor</th>
              <th>Vidas</th>
            </tr>
            <tr *ngFor="let jogador of jogadoresJogo | async; let i = index;" [attr.data-index]="i" [ngClass]="{'fora': !jogador.jogando || jogador.removido}">
              <td>{{jogador.nome}}</td>
              <td>{{jogador.cor}}</td>
              <td>{{jogador.vida}}</td>
            </tr>
          </table>
        </div>
      </div>

  <div class="row" *ngIf="jogo">
    <p>Jogo: {{jogo.nome}}</p>
    <p>Etapa: Início</p>
    <p>Rodada: {{jogo.rodada}}</p>
    <p *ngIf="rodada && rodada.manilha">Manilha: {{rodada.manilha.carta}} de {{rodada.manilha.naipe}} </p>
    <p>Maior Carta: </p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-hover"  *ngIf="rodada">
        <tr>
          <th>Ordem</th>
          <th>Jogador</th>
          <th>Cor</th>
          <th>Palpite</th>
          <th>Fez</th>
          <th>Carta</th>
        </tr>
        <tr *ngFor="let jogador of jogadores | async; let i = index;" [attr.data-index]="i" [ngClass]="{'comeca': jogador.id == rodada.comeca, 'vez': jogador.id == rodada.vez}">
          <td>{{jogador.id}}</td>
          <td>{{jogador.nome}}</td>
          <td>{{jogador.cor}}</td>
          <td>{{jogador.palpite}}</td>
          <td>{{jogador.fez}}</td>
          <td>{{jogador.carta}}</td>
        </tr>
      </table>
    </div>

    <div class="col-md-6" *ngIf="jogadorJogando">
      <h3>Cartas</h3>
      <div *ngFor="let cartaJogador of jogadorJogando.cartas">
        <p>{{cartaJogador.carta}} de {{cartaJogador.naipe}}</p>
      </div>
    </div>
  </div>
</section>
<div *ngIf="jogadorJogando">
  <button *ngIf="jogadorJogando.id == rodada.vez && rodada.etapa == etapa.embaralhar" class="btn btn-success" (click)="comecar()">
    Comecar
  </button>
  <div *ngIf="jogadorJogando.id == rodada.vez && rodada.etapa == etapa.palpite">
    Palpite
    <div class="btn btn-success" (click)="palpite(0)">
      0
    </div>
    <div *ngFor="let cartaJogador of jogadorJogando.cartas; let i = index;" class="btn btn-success" (click)="palpite(i+1)">
      {{i+1}}
    </div>
  </div>
  <button *ngIf="jogadorJogando.id == rodada.vez && rodada.etapa == etapa.jogarCarta" class="btn btn-success" (click)="carta()">
  <div *ngFor="let cartaJogador of jogadorJogando.cartas">
      <p>{{cartaJogador.carta}} de {{cartaJogador.naipe}}</p>
    </div>
    Jogar carta
  </button>
</div>


<style>
.comeca {
  color: red;
}
.vez {
  font-weight: bold;
}
.fora {
  text-decoration-line: line-through;
}
</style>