<section>
    <div class="row">
        <div class="col-md-4">
          <table class="table table-hover">
            <tr>
              <th>Jogador</th>
              <th>Cor</th>
              <th>Vidas</th>
            </tr>
            <tr *ngFor="let jogador of jogadoresJogo | async; let i = index;" [attr.data-index]="i" [ngClass]="{'fora': !jogador.jogando || jogador.removido}">
              <td>{{jogador.nome}}</td>
              <td>{{jogador.cor}}</td>
              <td>{{jogador.vidas}}</td>
            </tr>
          </table>
        </div>
      </div>

  <div class="row" *ngIf="jogo">
    <div class="col-md-6">
      <p>Jogo: {{jogo.nome}}</p>
      <p>Rodada: {{jogo.rodada + 1}}</p>
      <p *ngIf="rodada && rodada.manilha">Vira: {{rodada.manilha.carta}} de {{rodada.manilha.naipe}} </p>
      <p>Maior Carta: </p>
    </div>

    <div class="col-md-6">
      <table class="table table-hover"  *ngIf="rodada">
        <tr>
          <th>Ordem</th>
          <th>Jogador</th>
          <th>Cor</th>
          <th>Palpite</th>
          <th>Fez</th>
          <th>Carta</th>
        </tr>
        <tr *ngFor="let jogador of jogadores | async; let i = index;" [attr.data-index]="i" [ngClass]="{'comeca': jogador.id == rodada.comeca, 'vez': jogador.id == rodada.vez}">
          <td>{{jogador.id}}</td>
          <td>{{jogador.nome}}</td>
          <td>{{jogador.cor}}</td>
          <td>{{jogador.palpite}}</td>
          <td>{{jogador.fez}}</td>
          <td>{{jogador.carta}}</td>
        </tr>
      </table>
    </div>
  </div>
</section>

<div *ngIf="jogadorJogando" class="row">
  <div class="col-md-6">
    <table class="table table-hover" *ngIf="jogadas">
      <tr>
        <th>Jogador</th>
        <th>Carta</th>
      </tr>
      <tr *ngFor="let jogadaItem of jogadas">
        <td>{{jogadaItem.jogador}}</td>
        <td>{{jogadaItem.carta}} {{jogadaItem.naipe}}</td>
      </tr>
    </table>
  </div>
  <div class=col-md-6>
    <h3>Cartas</h3>
    <div *ngFor="let cartaJogador of jogadorJogando.cartas">
      <p >{{cartaJogador.carta}} de {{cartaJogador.naipe}}</p>
    </div>
    <button *ngIf="jogadorJogando.id == rodada.vez && etapaEmbaralhar(rodada.etapa)" class="btn btn-success" (click)="comecar()">
      Comecar
    </button>
    <div *ngIf="jogadorJogando.id == rodada.vez && etapaPalpite(rodada.etapa)">
      Palpite
      <div class="btn btn-success" (click)="palpite(0)">
        0
      </div>
      <div *ngFor="let cartaJogador of jogadorJogando.cartas; let i = index;" class="btn btn-success" (click)="palpite(i+1)">
        {{i+1}}
      </div>
    </div>
    <div *ngFor="let cartaJogador of jogadorJogando.cartas; let i = index;">
      <button *ngIf="jogadorJogando.id == rodada.vez && etapaJogarCarta(rodada.etapa)" class="btn btn-success" (click)="jogarCarta(i)">
        {{cartaJogador.carta}} de {{cartaJogador.naipe}}
      </button>
    </div>
  </div>
</div>


<style>
.comeca {
  color: red;
}
.vez {
  font-weight: bold;
}
.fora {
  text-decoration-line: line-through;
}
</style>