#chat {
    height: 200px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    overflow: scroll;
}

.msg {
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.user {
    margin-right: 10px;
    min-width: 100px;
    border-right: 1px solid #e9e9e9;
}

.form {
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.8);
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 20px 10vw;
    background: rgba(255, 255, 255, 0.8);
    z-index: 99;
}
