.game {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Nunito";
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-top {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.play {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
}

.players-list {
  flex: 3;
}

.right {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.right-top {
  display: flex;
  align-items: stretch;
  flex: 3;
}

.player {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rules {
  flex: 3;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

@media screen and (max-width: 700px) {
  .game {
    width: 300px;
    overflow-x: auto;
    display: flex;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .left {
    flex-shrink: 0;
    scroll-snap-align: start;
    height: 50%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 20px;
  }

  .left-bottom,
  .left-top {
    flex: 1;
  }

  .right {
    flex-shrink: 0;
    scroll-snap-align: start;
    width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
  }
}
