<page-jogo-init>
  <jogo-header></jogo-header>
  <div class="game">
    <div class="left">
      <div class="card left-top">
        <criar-jogador class="play" *ngIf="!jogadorAtual" (criarJogador)="criarJogador($event)">
        </criar-jogador>
        <botao-comecar-jogo class="play" *ngIf="jogadorAtual" [comecou]="jogadorAtual.comecar"
          [removido]="jogadorAtual.removido" (comecarJogo)="comecarJogo()" (retornarAoJogo)="retornarAoJogo()">
        </botao-comecar-jogo>
      </div>
      <div class="card players-list">
        <listar-jogadores [jogadores]="jogadores" [mostrarRemover]="jogadorDocId"
          (removerJogador)="removerJogador($event)">
        </listar-jogadores>
      </div>
    </div>
    <div class="right">
      <div class="right-top rules card">
        <h2>Tente adivinhar quantas cartas você consegue fazer em cada rodada!</h2>
        <p><b>Ordem das cartas:</b> 4 5 6 7 Q J K A 2 3</p>
        <p><b>Ordem dos naipes:</b> ouros espadas copas paus</p>
        <p>A cada rodada uma nova <b>manilha</b>, ela se torna a carta mais forte.</p>
        <p><b>Manilha:</b> A cada rodada vira-se uma carta, a manilha é a carta uma acima. (ex: se virar o 5, a
          manilha é o 6)</p>
      </div>
      <div class="card right-bottom">
        <chat class="chat" [jogoId]="jogoId" [nome]="jogadorAtual?.nome"></chat>
      </div>
    </div>
  </div>
</page-jogo-init>

<style>
  .game {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Nunito";
  }

  .card {
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -10px 10px 5px 0 rgba(0, 0, 0, .3);
    margin: 10px;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .left-top {
    flex: 1;
    display: flex;
    align-items: stretch;
  }

  .play {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .players-list {
    flex: 3;
  }

  .right {
    flex: 3;
    display: flex;
    flex-direction: column;
  }

  .right-top {
    display: flex;
    align-items: stretch;
    flex: 3;
  }

  .player {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rules {
    flex: 3;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  @media screen and (max-width: 600px) {
    .game {
      width: 300px;
      height: 300px;
      overflow-x: auto;
      display: flex;
      -webkit-overflow-scrolling: touch;
      scroll-snap-type: x mandatory;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .left {
      flex-shrink: 0;
      scroll-snap-align: start;
      height: 50%;
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-evenly;
      padding: 20px;
    }

    .left-bottom,
    .left-top {
      flex: 1;
    }

    .right {
      flex-shrink: 0;
      scroll-snap-align: start;
      width: 300px;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 20px;
    }
  }
</style>
