<page-jogo-init>
  <div class="game">
    <div>
      <listar-jogadores [jogadores]="jogadores" [mostrarRemover]="jogadorDocId"
        (removerJogador)="removerJogador($event)">
      </listar-jogadores>
    </div>
    <div>
      <div *ngIf="!jogadorAtual">
        <criar-jogador (criarJogador)="criarJogador($event)">
        </criar-jogador>
      </div>
      <div *ngIf="jogadorAtual">
        <botao-comecar-jogo [comecou]="jogadorAtual.comecar" [removido]="jogadorAtual.removido"
          (comecarJogo)="comecarJogo()" (retornarAoJogo)="retornarAoJogo()">
        </botao-comecar-jogo>
      </div>
    </div>
  </div>
  <div *ngIf="jogadorAtual">
    <chat [jogoId]="jogoId" [nome]="jogadorAtual.nome"></chat>
  </div>
</page-jogo-init>

<style>
  .game {
    padding: 15px 20px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: -20px 20px 15px 0 rgba(0, 0, 0, .3);
  }
</style>
