<page-jogo-init>
  <jogo-header></jogo-header>
  <div class="game">

    <div class="left">
      <div *ngIf="jogoNaoEncontrado" class="card left-top">
        <h2>Esse jogo foi excluído</h2>
      </div>
      <div *ngIf="!jogoNaoEncontrado" class="card left-top">
        <criar-jogador class="play" *ngIf="!jogadorAtual" (criarJogador)="criarJogador($event)">
        </criar-jogador>
        <botao-comecar-jogo class="play" *ngIf="jogadorAtual" [comecou]="jogadorAtual.comecar"
          [removido]="jogadorAtual.removido" (comecarJogo)="comecarJogo()" (retornarAoJogo)="retornarAoJogo()">
        </botao-comecar-jogo>
      </div>
      <div class="card players-list">
        <listar-jogadores [jogadores]="jogadores" [mostrarRemover]="jogadorDocId"
          (removerJogador)="removerJogador($event)">
        </listar-jogadores>
      </div>
    </div>

    <div class="right">
      <div class="right-top rules card">
        <h2>Tente adivinhar quantas cartas você consegue fazer em cada rodada!</h2>
        <p><b>Ordem das cartas:</b> 4 5 6 7 Q J K A 2 3</p>
        <p><b>Ordem dos naipes:</b> ouros espadas copas paus</p>
        <p>A cada rodada uma nova <b>manilha</b>, ela se torna a carta mais forte.</p>
        <p><b>Manilha:</b> A cada rodada vira-se uma carta, a manilha é a carta uma acima. (ex: se virar o 5, a
          manilha é o 6)</p>
      </div>
      <div class="card right-bottom">
        <chat class="chat" [jogoId]="jogoId" [nome]="jogadorAtual?.nome"></chat>
      </div>
    </div>
  </div>
</page-jogo-init>
