<section>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-hover">
        <tr>
          <th>#</th>
          <th>Jogador</th>
          <th>Cor</th>
          <th>Começar</th>
          <th></th>
        </tr>
        <tr *ngFor="let jogador of jogadores | async; let i = index;" [attr.data-index]="i">
          <td>{{i + 1}}</td>
          <td>{{jogador.nome}}</td>
          <td>{{jogador.cor}}</td>
          <td>{{jogador.comecar ? "Partiu!" : "Segura ai!"}}</td>
          <td *ngIf="jogadorDocId">
            <button (click)="removerJogador(jogador)" *ngIf="!jogador.removido">remover</button>
            <p (click)="removerJogador(jogador)" *ngIf="jogador.removido">removido</p>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="!jogadorDocId" class="col-md-6">
      <form #f="ngForm">
        <div class="form-group">
          <input [(ngModel)]="jogadorNome" name="jogadorNome" type="text" class="form-control" placeholder="Criar jogador" required>
          <input [(ngModel)]="jogadorCor" name="jogadorCor" type="text" class="form-control" placeholder="Cor" required>
        </div>

        <p *ngIf="loading">
          <i class="fa fa-spinner fa-spin"></i>
        </p>

        <div class="form-group">
          <button class="btn btn-primary" [disabled]="!f.valid" (click)="saveJogador()">
            Entrar
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6" *ngIf="jogadorDocId && jogadorAtual">
      <button *ngIf="!jogadorAtual.removido" class="btn btn-success" (click)="comecarJogo()">
        Começar
      </button>
      <button *ngIf="jogadorAtual.removido" class="btn btn-success" (click)="retornarAoJogo()">
        Retornar
      </button>
    </div>
  </div>
</section>