<section>
  <div class="row">
    <div class="col-md-6">
      <listar-jogadores></listar-jogadores>
    </div>
    {{jogadorDocId}}
    <div class="col-md-6">
      <div *ngIf="!jogadorDocId">
        <criar-jogador [jogadorDocId]="jogadorDocId" [jogoId]="jogoId">
        </criar-jogador>
      </div>
      <div *ngIf="jogadorDocId">
        <botao-comecar-jogo [jogadorDocId]="jogadorDocId" [jogoId]="jogoId" [jogadorAtual]="jogadorAtual">
        </botao-comecar-jogo>
      </div>
    </div>
  </div>
</section>