<section>
  <div class="row">
    <div class="col-md-6">
      <listar-jogadores></listar-jogadores>
    </div>
    <div class="col-md-6">
      <div *ngIf="!jogadorAtual">
        <criar-jogador (criarJogador)="criarJogador($event)">
        </criar-jogador>
      </div>
      <div *ngIf="jogadorAtual">
        <botao-comecar-jogo [comecou]="jogadorAtual.comecar" [removido]="jogadorAtual.removido"
          (comecarJogo)="comecarJogo()" (retornarAoJogo)="retornarAoJogo()">
        </botao-comecar-jogo>
      </div>
    </div>
  </div>
</section>