<table class="table table-hover">
  <tr>
    <th>#</th>
    <th>Jogador</th>
    <th>Começar</th>
    <th></th>
  </tr>
  <tr *ngFor="let jogador of jogadores | async; let i = index;" [attr.data-index]="i">
    <td>{{i + 1}}</td>
    <td>{{jogador.nome}}</td>
    <td>{{jogador.comecar ? "Partiu!" : "Segura ai!"}}</td>
    <td *ngIf="jogadorDocId">
      <button (click)="removerJogador(jogador, jogoId)" *ngIf="!jogador.removido">remover</button>
      <p *ngIf="jogador.removido">removido</p>
    </td>
  </tr>
</table>