<header class="header">
    <a href="https://www.github.com/HermanoLeite/fodinha" target="_blanket">
        <div class="header-github"><img src="../../../assets/GitHub-Light.png" /></div>
    </a>
    <div><img class="header-logo" src="../../../assets/logo.png" /></div>
    <div class="header-dummy"></div>
</header>

<style>
    .header {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 15px;
    }

    .header-logo {
        max-width: 80%;
        height: auto;
    }

    .header-dummy {
        width: 64px;
    }
</style>
