<page-jogo-init>
  <jogo-header></jogo-header>

  <div class="game-play" *ngIf="jogo">

    <div class="left">

      <div class="card left-top">
        <tooltip>A manilha é a carta uma acima da vira!</tooltip>
        <div class="title">Vira</div>
        <carta *ngIf="rodada && rodada.manilha" [carta]="rodada.manilha"></carta>
      </div>

      <div class="card left-bottom" *ngIf="jogadorJogando">
        <tooltip>4 5 6 7 Q J K A 2 3 <br />♦ ♠ ♥ ♣</tooltip>
        <div class="action-button" *ngIf="jogadorJogando.id == rodada.vez">
          <botao-comecar [etapa]="rodada.etapa" (comecarRodada)="comecarRodada()"></botao-comecar>

          <botao-palpite *ngIf="jogadorJogando.cartas" [etapa]="rodada.etapa" (enviarPalpite)="enviarPalpite($event)"
            [quantidadeCartas]="jogadorJogando.cartas.length">
          </botao-palpite>
        </div>
        <mao-jogador class="action-deck" [rodada]="rodada" [jogador]="jogadorJogando"
          [podeJogarCarta]="etapaJogarCarta(rodada.etapa)" (jogarCarta)="jogarCarta($event)">
        </mao-jogador>

        <div *ngIf="jogoFinalizado()">
          <ganhador [vencedor]="jogo.vencedor"></ganhador>
        </div>
      </div>

    </div>

    <div class="right">

      <div class="right-top card">
        <placar-rodada class="round-score" [jogadores]="jogadores$" [rodada]="rodada" [jogadas]="jogadas">
        </placar-rodada>

      </div>

      <div *ngIf="jogadorJogando" class="card right-bottom">
        <chat [jogoId]="jogoId" [nome]="jogadorJogando.nome"></chat>
      </div>
    </div>

  </div>
</page-jogo-init>
