.title {
  position: relative;
  top: -28px;
  width: 100px;
  height: 34px;
  background-color: #9c6602;
  border-radius: 7px;
  font-family: "Roboto";
  font-size: 18px;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-play {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  font-family: "Nunito";
}

.card {
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: -10px 10px 5px 0 rgba(0, 0, 0, .3);
  margin: 10px;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.left-top {
  flex: 1;
}

.left-bottom {
  flex: 3;
}

.right {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.right-top {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.round-score {
  flex: 2;
}

.right-bottom {
  flex: 1;
}

@media screen and (max-width: 600px) {
  .game-play {
    display: flex;
    flex-direction: column;
  }
}
