<page-jogo-init>
  <jogo-header></jogo-header>

  <div class="game-play" *ngIf="jogo">

    <div class="left">

      <div class="card left-top">
        <div class="title">Vira</div>
        <carta *ngIf="rodada && rodada.manilha" [carta]="rodada.manilha" [visaoCarta]="visaoCarta"></carta>
      </div>

      <div class="card left-bottom" *ngIf="jogadorJogando">
        <div class="action-button" *ngIf="jogadorJogando.id == rodada.vez">
          <botao-comecar [etapa]="rodada.etapa" (comecarRodada)="comecarRodada()"></botao-comecar>

          <botao-palpite *ngIf="jogadorJogando.cartas" [etapa]="rodada.etapa" (enviarPalpite)="enviarPalpite($event)"
            [quantidadeCartas]="jogadorJogando.cartas.length">
          </botao-palpite>
        </div>
        <mao-jogador class="action-deck" [visaoCarta]="visaoCarta" [rodada]="rodada" [jogador]="jogadorJogando"
          [podeJogarCarta]="etapaJogarCarta(rodada.etapa)" (jogarCarta)="jogarCarta($event)">
        </mao-jogador>
      </div>

    </div>

    <div class="right">

      <div class="right-top card">
        <placar-rodada class="round-score" [jogadores]="jogadores" [rodada]="rodada" [jogadas]="jogadas"
          [visaoCarta]="visaoCarta">
        </placar-rodada>

      </div>

      <div *ngIf="jogadorJogando" class="card right-bottom">
        <chat [jogoId]="jogoId" [nome]="jogadorJogando.nome"></chat>
      </div>
    </div>

  </div>
</page-jogo-init>
<div *ngIf="jogoFinalizado()">
  <ganhador [vencedor]="jogo.vencedor"></ganhador>
</div>
