<section>
  <div class="row justify-content-end">
    <visao-carta></visao-carta>
  </div>
  <div class="row">
    <div class="col-md-3">
      <placar-jogo [jogadoresJogo]="jogadoresJogo"></placar-jogo>
    </div>
    <div class="col-md-6">
      <placar-rodada [jogadores]="jogadores" [rodada]="rodada"></placar-rodada>
    </div>
  </div>

  <div class="row" *ngIf="jogo">
    <div class="col-xs-6">
      <p>Jogo: {{jogo.nome}}</p>
      <p>Rodada: {{jogo.rodada + 1}}</p>
      <div class="row">
        <div *ngIf="rodada && rodada.manilha" class="col-xs-6 col-md-3"> 
          <p>Vira:</p>
          <carta [img]="rodada.manilha.img" [carta]="rodada.manilha.carta" [naipe]="rodada.manilha.naipe"></carta>
        </div>
        <div *ngIf="jogada && jogada.maiorCarta && etapaJogarCarta(rodada.etapa)" class="col-xs-6 col-md-3"> 
          <p>Maior:</p>
          <carta [img]="jogada.maiorCartaObj.img" [carta]="jogada.maiorCartaObj.carta" [naipe]="jogada.maiorCartaObj.naipe"></carta>
        </div>
      </div>
    </div>

    <div class=col-xs-6 *ngIf="jogadorJogando">
      <div *ngIf="jogadorJogando.id == rodada.vez">
        <botao-comecar
          [rodadaDoc]="rodadaDoc"
          [jogadorVez]="rodada.vez"
          [quantidadeDeJogadores]="rodada.jogadoresCount" 
          [rodada]="jogo.rodada"
          [etapa]="rodada.etapa"></botao-comecar>
        
        <botao-palpite
          [etapa]="rodada.etapa"
          [rodadaDoc]="rodadaDoc"
          [jogador]="jogadorJogando"
          [rodada]="rodada"
          [criarJogada]="criarJogada"></botao-palpite>
        <!-- <div *ngIf="etapaPalpite(rodada.etapa)">
          Palpite
          <div class="btn btn-success" (click)="palpite(0)">
            0
          </div>
          <div *ngFor="let cartaJogador of jogadorJogando.cartas; let i = index;" class="btn btn-success" (click)="palpite(i+1)">
            {{i+1}}
          </div>
        </div> -->
      </div>
      <h4>Suas cartas</h4>
      <div class="row">
        <div *ngFor="let cartaJogador of jogadorJogando.cartas; let i = index;" class="col-xs-6 col-md-3">
          <div *ngIf="!(jogadorJogando.id == rodada.vez && etapaJogarCarta(rodada.etapa))">
            <carta [img]="cartaJogador.img" [carta]="cartaJogador.carta" [naipe]="cartaJogador.naipe"></carta>
          </div>
          <button *ngIf="jogadorJogando.id == rodada.vez && etapaJogarCarta(rodada.etapa)" (click)="jogarCarta(i)">
            <carta [img]="cartaJogador.img" [carta]="cartaJogador.carta" [naipe]="cartaJogador.naipe"></carta>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="jogadorJogando && !jogoFinalizado()" class="row">
  <div class="col-md-6">
    <jogadas [jogadas]="jogadas"></jogadas>
  </div>
</div>

<div *ngIf="jogoFinalizado()">
  <ganhador [vencedor]="jogo.vencedor"></ganhador>
</div>