<h4>Suas cartas</h4>
<div class="cards-list">
  <div *ngFor=" let cartaJogador of jogador.cartas; let i=index;" class="col-xs-6 col-md-3">
    <div *ngIf="!(jogador.id == rodada.vez && podeJogarCarta)" class="carta nao-jogando">
      <carta [carta]="cartaJogador" [visaoCarta]="visaoCarta"></carta>
    </div>
    <div *ngIf="jogador.id == rodada.vez && podeJogarCarta" (click)="jogar(i)" class="carta jogando">
      <carta [carta]="cartaJogador" [visaoCarta]="visaoCarta"></carta>
    </div>
  </div>
</div>

<style>
  .carta {
    width: 70px;
  }

  .jogando {
    cursor: pointer;
  }

  .nao-jogando {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
