<table class="table table-hover">
  <tr>
    <th>#</th>
    <th>Jogador</th>
    <th>Começar</th>
    <th></th>
  </tr>
  <tr *ngFor="let documento of jogadores | async; let i = index;" [attr.data-index]="i">
    <td>{{i + 1}}</td>
    <td>{{documento.jogador.nome}}</td>
    <td>{{documento.jogador.comecar ? "Partiu!" : "Segura ai!"}}</td>
    <td *ngIf="mostrarRemover">
      <button (click)="removerJogador.emit(documento)" *ngIf="!documento.jogador.removido">remover</button>
      <p *ngIf="documento.jogador.removido">removido</p>
    </td>
  </tr>
</table>
