<section>
  <div class="row justify-content-end">
    <toggle-visao-carta [visaoCarta]="visaoCarta" (setVisaoCarta)="setVisaoCarta($event)"></toggle-visao-carta>
  </div>
  <div class="row">
    <placar-rodada [jogadores]="jogadores" [rodada]="rodada"></placar-rodada>
  </div>

  <div class="row" *ngIf="jogo">
    <div class="col-xs-6">
      <div class="row">
        <div *ngIf="rodada && rodada.manilha" class="col-xs-6 col-md-3">
          <p>Vira:</p>
          <carta [carta]="rodada.manilha" [visaoCarta]="visaoCarta"></carta>
        </div>
        <div *ngIf="jogada && jogada.maiorCarta && etapaJogarCarta(rodada.etapa)" class="col-xs-6 col-md-3">
          <p>Maior:</p>
          <carta [carta]="jogada.maiorCartaObj" [visaoCarta]="visaoCarta"></carta>
        </div>
      </div>
    </div>

    <div class=col-xs-6 *ngIf="jogadorJogando">
      <div *ngIf="jogadorJogando.id == rodada.vez">
        <botao-comecar [etapa]="rodada.etapa" (comecarRodada)="comecarRodada()"></botao-comecar>

        <botao-palpite *ngIf="jogadorJogando.cartas" [etapa]="rodada.etapa" (enviarPalpite)="enviarPalpite($event)"
          [quantidadeCartas]="jogadorJogando.cartas.length">
        </botao-palpite>
      </div>
      <div class="row">
        <mao-jogador [visaoCarta]="visaoCarta" [rodada]="rodada" [jogador]="jogadorJogando"
          [podeJogarCarta]="etapaJogarCarta(rodada.etapa)" (jogarCarta)="jogarCarta($event)">
        </mao-jogador>
      </div>
    </div>
  </div>
</section>

<div *ngIf="jogadorJogando && !jogoFinalizado()" class="row">
  <div class="col-md-6">
    <jogadas [jogadas]="jogadas"></jogadas>
  </div>
</div>

<div *ngIf="jogoFinalizado()">
  <ganhador [vencedor]="jogo.vencedor"></ganhador>
</div>
