<section>
  <div class="row justify-content-end">
    <toggle-visao-carta [visaoCarta]="visaoCarta" (setVisaoCarta)="setVisaoCarta($event)"></toggle-visao-carta>
  </div>
  <div class="row">
    <div class="col-md-3">
      <placar-jogo [jogadoresJogo]="jogadoresJogo"></placar-jogo>
    </div>
    <div class="col-md-6">
      <placar-rodada [jogadores]="jogadores" [rodada]="rodada"></placar-rodada>
    </div>
  </div>

  <div class="row" *ngIf="jogo">
    <div class="col-xs-6">
      <div class="row">
        <div *ngIf="rodada && rodada.manilha" class="col-xs-6 col-md-3">
          <p>Vira:</p>
          <carta [carta]="rodada.manilha"></carta>
        </div>
        <div *ngIf="jogada && jogada.maiorCarta && etapaJogarCarta(rodada.etapa)" class="col-xs-6 col-md-3">
          <p>Maior:</p>
          <carta [carta]="jogada.maiorCartaObj"></carta>
        </div>
      </div>
    </div>

    <div class=col-xs-6 *ngIf="jogadorJogando">
      <div *ngIf="jogadorJogando.id == rodada.vez">
        <botao-comecar [rodadaDoc]="rodadaDoc" [jogadorVez]="rodada.vez" [quantidadeDeJogadores]="rodada.jogadoresCount"
          [rodada]="jogo.rodada" [etapa]="rodada.etapa"></botao-comecar>

        <botao-palpite [etapa]="rodada.etapa" [rodadaDoc]="rodadaDoc" [jogador]="jogadorJogando" [rodada]="rodada"
          [criarJogada]="criarJogada"></botao-palpite>
      </div>
      <div class="row">
        <mao-jogador [rodada]="rodada" [jogador]="jogadorJogando" [podeJogarCarta]="etapaJogarCarta(rodada.etapa)"
          (jogarCarta)="jogarCarta($event)">
        </mao-jogador>
      </div>
    </div>
  </div>
</section>

<div *ngIf="jogadorJogando && !jogoFinalizado()" class="row">
  <div class="col-md-6">
    <jogadas [jogadas]="jogadas"></jogadas>
  </div>
</div>

<div *ngIf="jogoFinalizado()">
  <ganhador [vencedor]="jogo.vencedor"></ganhador>
</div>
