.game-init {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;

}

.new-game {
  width: 410px;
  margin: 5px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.new-game-card {
  transition: 0.3s;
}

.new-game-card:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.game-list {
  width: 410px;
  margin: 5px 0 20px;
}

@media screen and (max-width: 900px) {
  .tab-wrap, .tab {
    width: 500px;
  }

  .tab-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }

  .tab {
    flex-shrink: 0;
    scroll-snap-align: start;
    padding: 20px;
  }

  .divider {
    width: 0px;
  }

  .new-game-card {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 700px) {
  .tab-wrap, .tab {
    width: 300px;
  }
}
