<div class="etapa">
  <h3>{{statusJogo()}}</h3>
</div>
<div *ngIf="rodada" class="players">
  <div class="player" [ngClass]="{'playing': jogador.id == rodada.vez}"
    *ngFor="let jogador of jogadores | async; let i = index;" [attr.data-index]="i">
    <div class="player-info">
      <div class="lives">
        <div *ngFor="let x of [].constructor(jogador.vidas)">❤️</div>
      </div>
      <div class="player-name" [ngClass]="{'out': !jogador.vidas}">{{jogador.nome}} </div>
    </div>
    <div>Palpite: {{jogador.palpite}}</div>
    <div>Fez: {{jogador.fez}}</div>
    <div>Carta: <carta [carta]="cartas[jogador.id]"></carta>
    </div>
  </div>
</div>
