.card-game {
  margin-top: 10px;
  padding: 0 20px;
  height: 30px;
  border: 7px #fff solid;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-game:hover,
.card-selected {
  border-color: rgba(0, 121, 255, .7);
  background-color: #eefdff;
}

.game-players::before {
  content: '\002654';
  margin-right: 5px;
}
