<h3>Jogos</h3>
<table class="game-table">
  <thead>
    <tr>
      <th>Jogo</th>
      <th>Qtd jogadores</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tr *ngFor="let jogo of jogos | async; let i = index;" [attr.data-index]="i">
    <td>{{jogo.id.substring(0, 4)}}</td>
    <td>{{jogo.quantidadeJogadores}}</td>
    <td>{{getStatus(jogo.status)}}</td>
    <td>
      <button class="get-in" (click)="entrarJogo.emit(jogo)">Entrar</button>
    </td>
    <td>
      <button class="delete" (click)="removerJogo.emit(jogo.id)">x</button>
    </td>
  </tr>
</table>
