<table class="table table-hover tabela-de-jogos">
  <tr>
    <th>#</th>
    <th>Jogo</th>
    <th>Nro Participantes</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let jogo of jogos | async; let i = index;" [attr.data-index]="i">
    <td>{{i + 1}}</td>
    <td>{{jogo.id}}</td>
    <td>{{jogo.quantidadeJogadores}}</td>
    <td>{{getStatus(jogo.status)}}</td>
    <td>
      <button class="btn btn-primary btn-sm" (click)="entrarJogo.emit(jogo)">Entrar</button>
    </td>
    <td>
      <button class="btn btn-danger btn-sm" (click)="removerJogo.emit(jogo.id)">x</button>
    </td>
  </tr>
</table>
