.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.help {
    width: 15px;
    height: 15px;
    float: right;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(82, 81, 81);
    color:rgb(82, 81, 81);
    font-size: 12px;
}

.help > span {
    margin-left: 5px;
    cursor: pointer;
}
