.games-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  font-family: "Roboto";
  color: #797979;
}

.games-scroll {
  height: 300px;
  background-color: #9fbdc9;
  border: 1px #5d8899 solid;
  border-radius: 15px;
  padding: 0 10px 10px 10px;
  overflow: scroll;
  box-shadow: 0px 0px 10px #999 inset;
}

.play-game-btn {
  background-color: #747272;
}

.delete-game-btn {
  background-color: #b90505;
}

.btn {
  width: 186px;
  height: 40px;
  border-radius: 10px;
  border-top: 2px transparent solid;
  border-bottom: 2px transparent solid;
  font-size: 18px;
  font-family: "Roboto";
  cursor: pointer;
  color: white
}

.btn:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}
@media screen and (max-width: 900px) {
  .btn {
    margin-top: 20px;
  }
}
